@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/fonts/Montserrat-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Damion-Regular';
  src: url('../fonts/fonts/Damion-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Function Regular';
  src: url('../fonts/fonts/Function\ Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../fonts/fonts/Roboto_Slab/RobotoSlab-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/fonts/Roboto_Slab/RobotoSlab-Regular.ttf')  format('truetype');
}
body{
    background-color:white;
    overflow-x: hidden;
}
.navbar{
    font-size: 20px;
    height: 15px;
}

.sec2{
    margin-top: 20px;
}
.sec2 .row{
    margin-top: 20px;
}
.sec4{
    margin-bottom: 20px;
   
}
* {
    box-sizing: border-box;
  }
  
.bg-image {
    /* The image used */
    background-image: url(/img/back1.jpeg);
  
    /* Add the blur effect */
    filter: blur(0.1px);
    -webkit-filter: blur(0.1px);
  
    /* Full height */
    

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-image h1{
    color: white;
    font-size: 40px;
    border: 2px solid rgba(255, 255, 255, 0.716);
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: #0f0e0e69;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 25%;
    padding: 20px;
    text-align: center;
  }
  footer{
    height: 20vh;
    text-align: center;
    font-size: 15px;
}

.footer-bottom{
    
    margin-top: 50px;
    text-align: left;

    
}
.copy p{
    margin-bottom: 100px;
}

.footer_logo{
margin-top: 2px;
margin-left: 355px;
   
    
}
.copyright{
    border-top: 1px solid orange;
    color: white
    
}



  /* newwcsss */
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* ================VARIABLES================ */

/* colores */
:root{
    --first-color:#e8f6c6;
    --second-color:#c6f1f3;
    --third-color:#fed7c7;
    --accent-color:#ff4848;
    --dark-color:#161616dd;
}

/* Tipografia Responsive */
:root{
    --body-font:'Open Sans';
    --h1-font-size:1.5rem;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --smaller-font-size:0.75rem;
}

@media screen and (min-width:768px){
    :root{
        --h1-font-size:2rem;
        --normal-font-size:1rem;
        --smaller-font-size:0.813rem;
    }
}

/* BASE */
*,::after,::before{
    box-sizing: border-box;
}

body{
  
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
}

img{
    max-width: 100%;
    height: auto;
    margin-left: 40px;
}

a{
    text-decoration: none;
}

/*============ LAYOUT============ */
.main{
    padding: 2rem 0;
}

.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
   padding: 4px;
   margin-bottom: 20px;
    gap: 2rem;
}


/* PAGES */
.title-shop{

   margin-top: 10px ;
    text-align: center;
   
}


/* COMPONENT */
.card{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1.5rem 2rem; */
    padding: 8px;
    border-radius: 1rem;
    overflow: hidden;
}

article:nth-child(1){
    background-color: var(--first-color);
}

article:nth-child(2){
    background-color: var(--second-color);
}

article:nth-child(3){
    background-color: var(--third-color);
}

article:nth-child(4){
    background-color: var(--second-color);
}
.card__name p{
  color: white;
}


.card__img{
    /* width: 180px;
    height: auto; */
    padding: 5px;
    padding-top: 30px;
 
    transition: .5s;
}

.card__name{
   position: absolute;
   left: -25%;
   top: 0;
   width: 3.5rem;
   height: 100%;
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   text-align: center;
   background-color: var(--dark-color);
   color: #fff;
   font-weight: bold;
   transition: .5s;
}

.cardicon{
    font-size: 1.5rem;
    color: dark;
    
}

.cardicon:hover{
    color:var(--accent-color);
}
.fa{
  display: inline-block;
  text-align: left;
}
.card1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
    margin-bottom: 0px;
  
    
}
.container{
    margin-bottom: 30px;
}

.par{
  font-family: 'Montserrat-Regular';
 
}
.card_price{
    font: size 10px;
    color: var(--accent-color);
    margin-bottom: .25rem;
    display: block;
    margin-left: 29%;
    justify-content: center;
}

.card_price_new{
    font-size: 20px;
    font-weight: bold;
     margin-left: 26%;
     justify-content: center;
}

/* Hover move left */
.card:hover{
    box-shadow: 0 .5rem 1rem  #d1d9e6;
    
}

.card:hover .card__name{
    left: 0;
}

.card:hover .card__img{
    
    margin-left: 3.5rem;
}

.card:hover .card1{
    
    margin-left:3.5rem;
    padding: 0 1.5rem;
}


/* MEDIA QUERIES */

@media screen and (min-width:1056px){
    .title-shop{
        
        margin: 0 5rem;
    }

    .bd-grid{
        
        margin-left: auto;
        margin-right: auto;
    }
}

.sec5{
    background-color: rgb(45, 43, 43);
    background-size: 100px;
   height: 60vh;
   width: 100%;
}
.sec5 h3{
    color:orange;
}

.sec5 a{
    color: white;
    font-size: 15px;
    font-family: 'RobotoSlab-Bold';
   
}

.add{
    color: #fff;
    font-size: 15px;
    font-family: 'RobotoSlab-Bold';
}
.address{
    
    color: rgba(221, 221, 239, 0.93);
}
.sec5 .row{
    padding: 0px;
    margin-top: 17px;
}
.fa{
    font-size: 40px;
   
}
.bg-image {
    /* The image used */
    background-image: url(/img/back1.jpeg);
  
    /* Add the blur effect */
    filter: blur(0.1px);
    -webkit-filter: blur(0.1px);
}
.bg-image h1{
    color: white;
    font-size: 40px;
    border: 2px solid #f1f1f1;
  }
.bg-text {
    background-color: #0f0e0e69;
        font-weight: bold;
      color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* z-index: 2; */
        width: 25%;
        padding: 20px;
        text-align: center;
      }


      .scrollmenu {
        background-color: #1c1a1a;
      overflow-y: auto;
        white-space: nowrap;
        height: 200px;
      }
      
      .scrollmenu a {
        display: table;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
      }
      
      .scrollmenu a:hover {
        background-color: #777;
      }
 